body{
    padding: 0;
    margin:0
}
.Container_main{
    display: flex;
    flex-direction: column;
    background-color: beige;
}
.Container_Header{
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 149, 149);
    justify-content: space-between;


}
.Container_Header__modals{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Container_Header__editTitle{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 100px;
    font-weight: bold;
    
}
.Container_Header__buycar{
 margin-right: 20px;
 padding-top: 5px;
 padding-left: 0px;

}

.Container_header__imageLOGO {
    animation: rotate 5s linear infinite; /* Nombre de la animación, duración, temporización, iteraciones */
  
}
  
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Inicia la rotación desde 0 grados */
    }
    to {
      transform: rotate(360deg); /* Termina la rotación en 360 grados */
    }
  }




@media screen and (max-width: 3500px) {
    body {
         width:100%;
          
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 400px;
     }
     .Container_Header__buycar{
        margin-left: -100px;
     }

 }

@media screen and (max-width: 3000px) {
    body {
         width:100%;
        
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 500px;
     }
     .Container_Header__buycar{
        margin-left: 20px;
     }
 }

@media screen and (max-width: 2000px) {
    body {
         width:100%;
          
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 0px;
     }
     .Container_Header__buycar{

     }
 }
 @media screen and (max-width: 1500px) {
    body {
         width:100%;
          
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 0px;
     }
     .Container_Header__buycar{
        margin-left: 20px;
     }
 }

@media screen and (max-width: 1100px) {
   body {
        width:100%;
         
    }
    .Container_Header__editTitle{ 
        font-size: 30px;
        margin-left: -300px;
    }
    .Container_Header__buycar{
        margin-left: -120px;
        
    }
}
@media screen and (max-width: 700px ) {
    body {
         width:100%; /* Cambia el ancho máximo del contenido para pantallas pequeñas */
        
        }
        .Container_Header__editTitle{
            font-size: 25px;
            margin-left: 0px;
        }
        .Container_Header__buycar{
            margin-left: 20px;
        }
 }
 @media screen and (max-width: 480px) {
    body{
         width:100%; /* Cambia el ancho máximo del contenido para pantallas pequeñas */
        
        }
        .Container_Header__editTitle{
           font-size: 25px;
           margin-left: 0px;
 }
 .Container_Header__buycar{

 }
}
@media screen and (max-width: 300px) {
    body{
         width:100%; /* Cambia el ancho máximo del contenido para pantallas pequeñas */
       
        }
        .Container_Header__editTitle{
           font-size: 25px;
           margin-left: 0px;
 }
 .Container_Header__buycar{

 }
}


/* Media query para pantallas muy pequeñas (p. ej., smartphones en posición vertical) */

