body{
    padding: 0;
    margin:0
}

.Container_main{
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
   background-color: rgb(220, 211, 211);;
}
.Container_Header{
    display: flex;
    flex-direction: row;
    background-color: rgb(155, 149, 149);
    justify-content: space-between;


}
.decorar_insides{
    display: flex;
    flex-direction: column;
    background-color: rgb(155, 149, 149);
    flex-wrap: wrap;
    width: 80%;
    border-radius: 5%;
    box-shadow: -11px 0px 57px 4px rgba(161, 146, 146, 0.75);
-webkit-box-shadow: -11px 0px 57px 4px rgba(172, 155, 155, 0.75);
-moz-box-shadow: -11px 0px 57px 4px rgba(194, 171, 171, 0.75);
justify-content: space-between;
    padding-left: 20px;
    margin-left: 10%;
}
.decorar_insides:hover{
    background-color: aqua;
}

.carousel-inner{
    height: 10%;
    width: 20%;
}
.redireccion{
    padding-left: 250px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.edit_categorias{
    width: 200px;
    height: 40px;
    
    border-radius: 10%;
}

.edit_image_categoria{
    width: 90px;
    height: 40px;
}
.edit_categorias:hover{
    animation-name: size;
    animation-duration: 4s;
    animation-delay: 0;
    animation-timing-function: linear;
 
   
}
.Container_Header__modals{
    display: flex;
    flex-direction: row;
    gap: 20px;
}
.Container_Header__editTitle{
    font-family: "Arial Black", Gadget, sans-serif;
    font-size: 31px;
    letter-spacing: 2px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 700;
    text-decoration: none solid rgb(68, 68, 68);
    font-style: normal;
    font-variant: small-caps;
    text-transform: uppercase;
    
}
.Container_Header__buycar{
 margin-right: 20px;
 padding-top: 5px;
 padding-left: 0px;

}
.size_carrusel{
    
    margin-left: 35%;
    margin-top: 5%;
    display: block;
    width:30% ;
    height: 30%;
}
.edit1{
    width: 200px;
    height: 240px;
}
.edit2{
    height: 240px;
}
.edit3{
    height: 240px;
}
.container_footer{
    display: flex;
    flex-direction: row;
    margin-top: 10.25%;
    width: 100%;
    height: 139px;
    background-color: rgb(155, 149, 149);
   
}
.container_footer__info{
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    padding-left: 10px;
    
}
.buttons_redes{
    width: 30px;
    height: 40px;
    margin-top: 80px;
    margin-left:30px;
}
.other_container{
    display: flex;
    flex-direction: column;
    margin-left: 830px;
    padding-top: 10px;
    width: 300px;
    height: 130px;
    margin-top: 2px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Agrega una sombra */
    transition: box-shadow 0.3s ease; 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
outline: 2px solid rgba(0, 0, 0, 0.8);
transition: outline 0.3s ease;
outline: none;
background-color: rgb(155, 149, 149);



}

.edit_info_container{
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin-top: -5px;
    padding-left: 10px;
}
.onemore{
    color: black;
    margin-top: -15px;

}
.edit_hr2{
margin-top: -15px;
}

.Container_header__imageLOGO {
    animation: rotate 5s linear infinite; /* Nombre de la animación, duración, temporización, iteraciones */
  
}
.edit_modal_producto{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 300px;
    margin-left: 350px;
    width: 50px;
    


}
.modal-content{

}
@keyframes size {
    0%{
        transform: scale(1);   
    }
    20%{
        transform: scale(1.2);   
    }
    30%{
        transform: scale(1.3);   
    }
    60%{
        transform: scale(1.4);   
    }
    80%{
        transform: scale(1.5);   
    }
    100%{
        transform: scale(1.6);   
    }
    
     
    }
    
  
  @keyframes rotate {
    from {
      transform: rotate(0deg); /* Inicia la rotación desde 0 grados */
    }
    to {
      transform: rotate(360deg); /* Termina la rotación en 360 grados */
    }
  }




@media screen and (max-width: 3500px) {
    body {
         width:100%;
          
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 400px;
     }
     .Container_Header__buycar{
        margin-left: -100px;
     }

 }

@media screen and (max-width: 3000px) {
    body {
         width:100%;
        
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 500px;
     }
     .Container_Header__buycar{
        margin-left: 20px;
     }
 }

@media screen and (max-width: 2000px) {
    body {
         width:100%;
          
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 0px;
     }
     .Container_Header__buycar{

     }
}
 @media screen and (max-width: 1500px) {
    body {
         width:100%;
          
           /* Cambia el ancho máximo del contenido para pantallas pequeñas */
          
     }
     .Container_Header__editTitle{ 
         font-size: 30px;
         margin-left: 0px;
     }
     .Container_Header__buycar{
        margin-left: 20px;
     }
     .other_container{
        margin-left: 20px;
     }
 }

@media screen and (max-width: 1100px) {
   body {
        width:100%;
         
    }
    .Container_Header__editTitle{ 
        font-size: 30px;
        margin-left: -300px;
    }
    .Container_Header__buycar{
        margin-left: -120px;
        
    }
}
@media screen and (max-width: 700px ) {
    body {
         width:100%; /* Cambia el ancho máximo del contenido para pantallas pequeñas */
        
        }
        .Container_Header__editTitle{
            font-size: 25px;
            margin-left: 0px;
        }
        .Container_Header__buycar{
            margin-left: 20px;
        }
        .container_footer{

        }
 }
 @media screen and (max-width: 480px) {
    body{
         width:100%; /* Cambia el ancho máximo del contenido para pantallas pequeñas */
        
        }
        .Container_Header__editTitle{
           font-size: 25px;
           margin-left: 0px;
 }
 .Container_Header__buycar{

 }
 .redireccion{
    gap:200px
 }
 .edit_image_categoria{
    margin-left: -5px;
    width: 50px;
    height: 30px;
 }
 .edit_categorias{
    margin-left: -180px;
    width: 50px;
   
 }
 .container_footer{
     margin-top: 400px;
 }

}
@media screen and (max-width: 300px) {
    body{
         width:100%; /* Cambia el ancho máximo del contenido para pantallas pequeñas */
       
        }
        .Container_Header__editTitle{
           font-size: 25px;
           margin-left: 0px;
 }
 .Container_Header__buycar{

 }
}


/* Media query para pantallas muy pequeñas (p. ej., smartphones en posición vertical) */

