.input_1{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap:10px;
    padding-left: 30px;
    justify-content: space-between;
    padding-top: 50px;
    gap: 20px;
    
}
.edit{
    padding-left: 200px;
}
.edit_title1{
    padding-left: 180px;
    
}
.name {
    width: 300px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    
}
.name1{
    width: 300px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    border-radius: 5px;
    
    
}
.button1{
    display: flex;
    flex-direction: column;
    padding-left: 110px;
    
}
.cuadro1{
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 400px;
    background-color: rgb(215, 210, 226);
    box-shadow: -11px 0px 57px 4px rgba(0,0,0,0.75);
    -webkit-box-shadow: -11px 0px 57px 4px rgba(0,0,0,0.75);
    -moz-box-shadow: -11px 0px 57px 4px rgba(0,0,0,0.75);
    justify-content: space-between;
    margin-top: -10px;
    padding-left: 20px;
    margin-left: 50px;
    border-radius: 5px;
}

